.userSettings {
    position: absolute;
    margin:  auto;
    margin-top: 80px;
    min-width: 460px;
    background-color: #e4b7b76b;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}